.services {
  margin: 50px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services-title {
  font-size: 25px;
  font-weight: bold;
  color: #3f3f3f;
  text-align: center;
}

.services-caption {
  font-weight: 500;
  font-size: 19px;
  color: #777777;
  text-align: center;
  max-width: 500px;
}

.services-content__cover {
  display: flex;
  align-items: start;
  justify-content: center;
  margin: 10px 0 0 0;
  flex-wrap: wrap;
}

.services-card {
  width: 280px;
  padding: 15px 10px 10px 10px;
  height: auto;
  border-radius: 3px;
  box-shadow: 0 0 10px #e4e4e4f0;
  margin: 10px 15px;
  background-color: #fff;
}

.services-image__cover {
  width: 70px;
  height: 70px;
}

.service-card__title {
  font-weight: 510;
  font-size: 18px;
  color: #3f3f3f;
  margin: 20px 0 0 0;
}

.service-content {
  font-weight: 400;
  font-size: 16px;
  color: #777777;
}

@media (max-width: 450px) {
  .services-card {
    width: 330px;
  }
  .services-card:nth-child(2) {
  }
}
