.news-cover {
  width: 100%;
  height: 150px;
  /* background: linear-gradient(#0000005d, #0000004d),
    url("https://images.unsplash.com/photo-1639322537228-f710d846310a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8YmxvY2tjaGFpbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=700&q=60");
  background-position: -10%;
  background-size: cover;
  background-repeat: no-repeat; */
}

.newsroom-top {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.newsroom-title {
  font-size: 30px;
  color: #3f3f3f;
  font-weight: 600;
}

.newsrooms {
  color: #606060;
  font-size: 17px;
}

.news-content {
  width: 100%;
  height: auto;
  margin: auto;
  max-width: 900px;
}

.newcard {
  border-radius: 4px;
  width: fit-content;
  height: 330px;
  display: inline-block;
  box-shadow: 0 2px 3px #ddddddde;
}

.news-img__cover {
  width: 100%;
  height: 180px;
  position: relative;
}

.new-author__image-cover {
  position: absolute;
  top: 10px;
  width: 40px;
  height: 40px;
  right: 10px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.news-time {
  text-align: right;
  font-size: 16px;
  color: #6c6c6c;
  font-size: 16px;
}

.news-caption {
  font-size: 17px !important;
  font-weight: 600;
  color: #3f3f3f;
}

.news-desc {
  color: #888888 !important;
  font-size: 16px !important;
  font-weight: 500 !important;
}

.news-author {
  text-align: right;
  color: #9e9e9e;
  font-size: 15px !important;
}

.pagination {
  width: 100%;
  height: auto;
  display: flex;
  display: none;
  align-items: center;
  justify-content: center;
  margin: 0 0 50px 0;
}

.pagination.active {
  display: block;
}

.pagination-btn {
  padding: 8px 25px;
  margin: 0 10px;
  border: 1px solid #4da94d;
  background: #4da94d;
  color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 3px #eeeeeede;
  transition: 10ms ease-in;
  cursor: pointer;
}

.pagination-btn:nth-child(1) {
  color: #4da94d;
  border: 1px solid #4da94d;
  background: #fff;
}

.pagination-btn:hover {
  outline: 2px solid #d6c7fd;
}
