.mobile-nav {
  width: 200px;
  height: 100vh;
  background-color: #fff;
  position: relative;
  padding: 9px 9px 0 17px;
  animation-name: drawal;
  animation-duration: 400ms;
  animation-timing-function: ease-in;
}

@keyframes drawal {
  from {
    left: -200px;
  }
  to {
    left: 0px;
  }
}

.close-btn__cover {
  position: absolute;
  right: 10px;
  top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  padding: 5px;
}

.mobile-links__cover {
  width: 100%;
  margin: 50px 0 0 0;
}

.mobile-link {
  display: block;
  padding: 7px 0;
  margin: 5px 0;
  color: #3f3f3f;
  border-bottom: 1px solid #eee;
  text-decoration: none !important;
  transition: color 150ms ease;
}

.mobile-link:hover,
.mobile-link:active {
  /* color: #70d470 !important; */
}
