.td {
  position: absolute;
  width: 100%;
  height: auto;
  background: #fff;
  box-shadow: 1px 0px 10px #e0e0e0de;
  border-radius: 3px;
  top: 110%;
}

.td-item {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #eee;
}

.td-id {
  font-size: 13px;
}

.td-symbol {
  font-size: 13px;
  padding-left: 4px;
}

.td-img_cover {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.td-img {
  width: 100%;
  height: 100%;
}
