.hero-text {
  color: #75b968;
  font-size: 17px;
}

.hero-top {
  width: fit-content;
  display: flex;
  align-items: center;
}

.hero-icon__cover {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 6px 0 0;
}

.hero-left_cover {
  width: 100%;
  height: auto;
}

.hero-middle {
  padding: 8px 0 0 0;
  font-size: 33px;
  font-weight: bolder;
  color: #3f3f3f;
  line-height: 35px;
}

.hero-caption {
  font-weight: 500;
  color: #9b9b9b;
  font-size: 18px;
  padding: 10px 0;
  margin: 0 0 0 0;
}

.cta-tex.hero {
  font-weight: 600;
}

.hero-cta__btn-cover {
  width: fit-content;
  display: flex;
  margin: 8px 0;
}

.hero-cta__btn {
  border: 1px solid #75b968c0;
  border-radius: 3px;
  background: #fff;
  color: #75b968;
  padding: 10px 25px;
  box-shadow: 0 2px 5px #ebebeb9c;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-cta__btn:nth-child(2) {
  background: #75b968;
  color: #fff;
  margin: 0 20px;
  font-size: 14px;
}

.hero-right__cover {
  width: 100%;
  height: 300px;
}
