.about-caption {
  color: #2d47f8;
  font-weight: 510;
  border-bottom: 1.5px solid #2d47f8;
}

.about-subtext {
  color: #3f3f3f;
}

.about-title {
  font-weight: 510;
  color: #2d47f8;
  font-size: 17px;
}

.about-content {
  color: #3f3f3f;
}

.c-con {
  box-shadow: 0 2px 10px #eeeeeede;
}
