.kycr {
  width: 330px;
  height: auto;
  position: relative;
  border-radius: 4px;
  margin-top: -30px;
}

.kyc-title {
  font-size: 16px;
}

.kyc-input {
  width: 100%;
}
.kyc-input__cover {
  border-radius: 3px;
  transition: outline 50ms ease;
  height: 40px;
  width: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.kyc-input__cover:hover {
  outline: 2px solid #3f3f3f3b;
}

.kyc-group {
  width: 100%;
  margin:10px 0;
}
