.tr-tab {
  background: rgb(216, 216, 216);
}

.tr-c.active {
  width: 48%;
  text-align: center;
  background-color: #fff;
}

.tr-c {
  width: 48%;
  text-align: center;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

@media (min-width: 600px) {
  .trade-dsk__c {
    max-width: 450px;
    margin: auto;
  }
}
