.nav-container {
  height: 70px;
  background: #fff;
  box-shadow: 0 0 10px #ddddddde;
}

.nav-item_cover {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-brand__cover {
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-brand__img-cover {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #5f30e3;
  margin: 0 5px 0 0;
}

.nav-brand__title {
  font-size: 20px;
  font-weight: bold;
  color: #5f30e3;
  /* color: #27d165; */
}

.nav-brand__caption {
  font-size: 17px;
  /* color: #6e6e6e; */
}

.nav-items_Links {
  display: flex;
  align-items: center;
  width: fit-content;
}

.nav-item {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 10px;
  transition: color 350ms ease;
  color: #3f3f3f;
  font-size: 15px;
  font-weight: 500;
}

.nav-item:hover {
  text-decoration: underline !important;
  color: #5f30e3;
}

.nav-auth__btn-cover {
  width: fit-content;
  display: flex;
  align-items: center;
}

.nav-auth__btn {
  border: 1px solid #6030e32a;
  padding: 6px 15px;
  color: #5f30e3;
  margin: 0 10px;
  font-size: 15px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 2px 5px #ebebeb9c;
  cursor: pointer;
}

.nav-auth__btn:nth-child(2) {
  color: #fff;
  border: none !important;
  background-color: #5f30e3;
}
