.nav-container {
  height: 75px;
  background: #fff;
  box-shadow: 0 0 10px #ddddddde;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.nav-item_cover {
  height: 100%;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-brand__cover {
  width: fit-content !important;
}

.nav-brand__img-cover {
  width: 160px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: start;
  overflow: hidden;
  margin: 0 0 0 5px;
  padding: 0 0 0 5px;
}

.nav-brand__image {
  width: 100%;
  height: 100%;
  transform: scale(0.9);
}

.nav-brand__title {
  font-size: 18px;
  font-weight: bold;
  color: #5f30e3;
}

.nav-brand__caption {
  font-size: 17px;
}

.nav-items_Links {
  display: flex;
  align-items: center;
  width: fit-content;
}

.nav-item {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 10px;
  transition: color 350ms ease;
  color: #3f3f3f;
  font-size: 15px;
  font-weight: 500;
}

.nav-item:hover {
  text-decoration: underline !important;
  color: #2d47f8;
}

.nav-auth__btn-cover {
  width: fit-content;
  display: flex;
  align-items: center;
}

.nav-auth__btn {
  border: 1px solid #2d47f8;
  padding: 8px 19px;
  color: #fff;
  margin: 0 10px;
  font-size: 16px;
  border-radius: 5px;
  background: #2d47f8;
  box-shadow: 0 2px 5px #ebebeb9c;
  cursor: pointer;
  transition: outline 50ms ease;
}
.nav-auth__btn:hover {
  color: #fff !important;
}

.nav-auth__btn:nth-child(2) {
  color: #fff;
  border: none !important;
  background: #2d47f8;
  /* background-image: linear-gradient(
    45deg, */
  /* #2bffcf 0%, # 52%, */
  /* #2bff88 100%
  ); */
}

.nav-auth__btn:nth-child(2):hover {
  color: #fff !important;
}

.menu-btn__cover {
  display: none;
}

.nav-left__cover {
  display: flex;
  align-items: center;
}

@media (max-width: 400px) {
  .nav-auth__btn:nth-child(1) {
    display: none;
  }
}

@media (max-width: 800px) {
  .nav-items_Links {
    display: none;
  }
  .nav-auth__btn-cover {
    /* display: none; */
  }
  .menu-btn__cover {
    display: block;
    padding: 5px;
    cursor: pointer;
  }
}
