.sc {
  margin: 30px 0 130px 0;
}

.sc-help {
  font-size: 20px;
  font-weight: 600;
}

.sc-caption {
  font-size: 16px;
  color: #3f3f3f;
}

.sc-img__cover {
  width: 100%;
  height: 100px;
  overflow: hidden;
}

.sc-img {
  width: 100%;
  height: 100%;
}

.sc-text {
  max-width: 300px;
  margin: auto;
  color: #646464;
}

.sc-a__title {
  font-size: 20px;
  font-weight: 600;
}

ul {
  list-style-type: none;
  list-style-position: inside;
  margin: auto;
  max-width: 280px;
  text-align: center;
}
