.footer-container {
  background: #f5f5f583;
  position: relative;
  bottom: 0 !important;
}

.footer-image {
  width: 20px;
  height: 20px;
}
.footer-title {
  font-weight: 600;
}

.footer-caption {
  font-weight: 500;
  font-size: 16px;
}

.footer-item__cover {
  width: fit-content;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.footer-item__title {
  font-weight: 600;
  margin: 20px 0 0 0;
  font-size: 17px;
}
.footer-social__item {
  padding: 8px;
  margin: 0 9px;
}

.footer-address {
  font-size: 15px;
  font-weight: 500;
  color: #3f3f3f;
}

.footer-phone {
  font-size: 16px;
  font-weight: 500;
  color: #3f3f3f;
}

.footer-phone {
  color: #3f3f3f;
  font-size: 16px;
}

@media (min-width: 768px) {
  .footer-item__title {
    margin-top: 0 !important;
  }
}
