.card-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.card-title__cover {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-title {
  /* padding-top: ; */
  font-size: 15px;
  color: #3f3f3f;
}

.card-more__btn {
  display: inline-block;
  padding: 5px 10px;
  transition: 50ms ease;
  font-size: 13px;
  border-radius: 3px;
  color: #75b968;
}
.card-more__btn:hover {
  color: #75b968;
}

.card-more__btn:hover {
  outline: 2px solid #75b96888;
}
